<div class="container-fluid principal">
  <div class="row content">
    <div class="col-sm-4">
    </div>

    <div class="col-sm-8 pastrie">
      <h2>{{ titlePage }}</h2>

      <app-paginate
        [currentPage]="currentPage"
        [itemsPerPage]="perPage"
        [totalItems]="pastries.length"
        (pageChanged)="updatePage($event)"
      ></app-paginate>

      <ul>
        <li *ngFor="let pastry of paginatedPastries">
          {{ pastry.name }} - {{ pastry.quantity }}
        </li>
      </ul>
    </div>
  </div>
</div>